__pycache__/
*.pyc
*.pyo
*.pyd
old_versions/
old_codes/
*.log
.env
.DS_Store
venv/
.pyi
old_codes

# Virtual environments
.venv/
env/

# VS Code settings
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs and temp
*.log
*.tmp
